<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mercadolibre.android.andesui.demoapp">

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/andesui_demoapp_ic_launcher"
        android:label="@string/andesui_demoapp_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".components.datepicker.DatePickerShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/datepicker"
                    android:scheme="meli" />
            </intent-filter>
        </activity>

        <activity
            android:name=".components.bottomsheet.BottomSheetShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/bottom_sheet"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.badge.BadgeShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/badge"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.snackbar.SnackbarShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/snackbar"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.checkbox.CheckboxShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/checkbox"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.tag.TagShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/tag"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.button.ButtonShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/button"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.progressindicator.ProgressShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/progress"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.message.MessageShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/message"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.textfield.TextfieldShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/textfield"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.thumbnail.ThumbnailShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/thumbnail"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".whatsnew.WhatsNewActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/whats-new"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.radiobutton.RadioButtonShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/radiobutton"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.card.CardShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/card"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.coachmark.CoachmarkShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/coachmark"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.list.ListShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/list"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.dropdown.DropdownShowCaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/dropdown"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.carousel.CarouselShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/carousel"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.tooltip.TooltipShowcaseActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="andes"
                    android:path="/tooltip"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>